@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #fafafa;
}

a:hover {
    text-decoration: none;
}

/*.wrapper{
  display: flex;
  position: relative;
}*/

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #e3fdfd;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #71c9ce;
  font-size: 4rem;
  font-family: 'Sacramento', cursive;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #a6e3e9;
  border-bottom: 1px solid  #e3fdfd;
  border-top: 1px solid #e3fdfd;
}

.wrapper .sidebar ul li a{
  color: #71c9ce;
 
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #71c9ce;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
 .wrapper .sidebar .social_media{
 position: absolute;
  bottom: 0;
  left: 10%;
  transform: translateX();
  display: flex;
}


.wrapper .sidebar .social_media  a{
 width: 40px;
 height: 40px;
 line-height: 20px;
 text-align: center;
 margin: 0 5px;
 color: #71c9ce;
 border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}

/*.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
    
}

.wrapper .main_content .header{
  padding: 20px;
  background: #cbf1f5;
  color: #cbf1f5;
  border-bottom: 1px solid #cbf1f5;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #cbf1f5;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}*/



/* CALLOUT */

.callout-container {
      /*  */
      width: calc(100% - 200px);

  height: 100vh;
  background: url('../images/bg.jpg') no-repeat center center fixed;
  
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;

} 
 .container-fluid{
    margin-left: 200px;
} 


#jumbotron-container {
  height: 50%;
  padding-top: 160px;
}

.jumbotron {
  background-color: transparent;
  margin-top: 2rem;

}

.jumbotron-header {
  color: #71c9ce;
  font-size: 5rem;
  margin-bottom: 30px;
  font-family:'Sacramento', cursive, sans-serif;
}
/*.jumbotron-header {
  color: #71c9ce;
  font-size: 5rem;
  margin-bottom: 30px;
  font-family:'Sacramento', cursive, sans-serif;
}*/

.jumbotron p {
  font-size: 1.8rem;
  color: #71c9ce;
  margin-top: 2rem;
}

.hi {
  font-size: 2rem;
  font-family: "Josefin Slab", sans-serif;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* --------------------------------------------- BUTTONS */

/* Buttons */



.btn--contact {

    font-weight: bold;

    border-radius: 23px;

    width: 160px;

}



.btn--turquoise {

    color:#e3fdfd;

    background-color:#71c9ce;

    border-color:#71c9ce;

}



.btn--turquoise:hover,

.btn--turquoise:active,

.btn--turquoise:focus,

.btn--turquoise:active:focus {

    background-color:#a6e3e9;

    border-color: #a6e3e9;

    color:#e3fdfd;

}



/*.btn--contact {
  font-weight: bold;
  border-radius: 12px;
  width: 180px;
  text-transform: uppercase;
  line-height: 2.5;
  margin-top: 10px;
}

.btn--turquoise {
  color: #cbf1f5;
  background-color: #a6e3e9;
  border: 2px solid #71c9ce;
}

.btn--turquoise:hover,
.btn--turquoise:active,
.btn--turquoise:focus,
.btn--turquoise:active:focus {
  background-color: #a6e3e9;
  border: 2px solid #71c9ce;
}*/

.btn btn-secondary {
  color: #383838;
  background-color: #fafafa;
  border: 2px solid #a13232;
  margin-top: 20px;
}

.btn btn-secondary:hover,
.btn btn-secondary:active,
.btn btn-secondary:focus,
.btn-btn-secondary:active:focus {
  background-color: #701515;
  border: 2px solid #701515;
}

/*.history-button {
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
  width: 140px;
  line-height: 2;
  color: #fafafa;
  background-color: #a13232;
}

.history-button:hover,
.history-button:active,
.history-button:focus,
.history-button:active:focus {
  background-color: #701515;
}
*/

/* --------------------------------------------- CONTACT PAGE */

.page-heading-contact {
 
  /*  */
      width: calc(100% - 200px);

  height: 100vh;
  background: url('../images/homepage-background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;

}

/*.contact-form {
  
  background-color: #cbf1f5;
  color:#71c9ce;
  
}*/

/* ----------------------------------------Contact Form */

/*.contact-heading {
    font-family: "Josefin Slab", sans-serif;;
    font-weight: 300;
    margin-top: 250px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
    margin-left: 350px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color:#e3fdfd;

    
    font-weight: bold;

    border-radius: 23px;

    width: 200px;

}
.btn btn-secondary {
 
  color:#e3fdfd;

    background-color:#71c9ce;

    border-color:#71c9ce;


  margin-top: 20px;
}

.btn btn-secondary:hover,
.btn btn-secondary:active,
.btn btn-secondary:focus,
.btn-btn-secondary:active:focus {
  background-color:#a6e3e9;

    border-color: #a6e3e9;

    color:#e3fdfd;
}

/*.reservation-link {
  color: #fafafa;
  margin-top: 40px;
  font-size: 1.4rem;
}

.reservation-link a {
  text-decoration: none;
  font-weight: bold;
  color: #fafafa;
}*/
#contact {
    background-attachment: fixed;
    background-image: url('../images/bg.jpg');
    background-position: left;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 42px;
    text-align: left;
    margin-bottom: 30px;
}

.contact-form {
    position: relative;
    top: 6%;
}

#contact-head {
    margin: 30px -11px 25px 0px;
}

.contact {
    margin: 15px 0px 15px 0px;
}
/* ----------------------------------------Skills */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fff;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 20px 40px;
}

/* ----------------------------------------Three Reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #71c9ce;
}

.three-reasons-heading {
    font-family: "Josefin Slab", sans-serif;
    color: #71c9ce;
    margin-bottom: 15px;
}

.bg-color-three-reasons {
    background-color:transparent;
}
.section-heading  {
    font-family: "Josefin Slab", sans-serif;
    color: #71c9ce;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 40px;
}
/*.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}*/
.uppercase {
    font-family: "Josefin Slab", sans-serif;
    color: #71c9ce;
}